{% extends 'base.html' %}

{% block content %}
<main class="container py-5">
    <section class="card card-body">
        <h1 class="text-center">Delete Cardlist</h1>
        <p>Are you sure you want to delete the board "{{ cardlist.name }}"?</p>
        
        <form method="POST">
            {% csrf_token %}
            <button type="submit" class="btn btn-danger">Yes, delete</button>
            <a href="{% url 'view_board' owner_id=workspace.owner.id workspace_id=workspace.id board_id=board.id %}" class="btn btn-secondary">Cancel</a>
        </form>
    </section>
</main>
{% endblock %}