{% extends 'base.html' %}

{% block content %}
<main class="container py-5">
    <section class="card card-body">
        <h1 class="display-1 text-center">Kanban Project</h1>
        <p1>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Distinctio dicta praesentium excepturi soluta fugiat id ab ducimus iusto quos, culpa iste voluptates exercitationem eligendi aspernatur repellat laudantium aliquid voluptate itaque provident tempore! Corrupti, asperiores aliquid labore, voluptas, sapiente consequuntur minima inventore natus exercitationem unde tenetur! Voluptates dolore deleniti, ipsam eos perferendis, libero voluptas deserunt aliquam fugit et sunt. Delectus quasi dolor, eligendi voluptatibus minus fuga nemo impedit itaque tempora nam officiis nulla, eum atque qui, quas quod non molestiae ex! Iste doloribus odio voluptates sequi commodi. Facere nam a saepe rem voluptatum accusantium reiciendis magnam molestias! Odit eligendi iste quae!</p1>
        <div class="text-center">
            <a class="btn btn-secondary" href="/signin/">
                Sign in
            </a>
            <a class="btn btn-dark" href="/signup/">
                Sign up
            </a>
        </div>
    </section>
</main>
{% endblock %}