{% extends 'base.html' %} {% block content %}
<h1>Stats</h1>
<h2 class="card-title">Distribución de tareas por estado</h2>

<style>
    .charts{
        height: 400px;
    }
</style>

<div class="charts">
  <canvas id="chart1"></canvas>
</div>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<script>
      const chart1 = document.getElementById("chart1");

      new Chart(chart1, {
          type: "pie",
          data: {
              labels: {{ card_list_names| safe}},
          datasets: [
          {
              label: "# of Cards",
              data: {{ card_list_amounts| safe}},
          borderWidth: 1,
          },
      ],
      },
      options: {
      scales: {
        y: {
          beginAtZero: true
        }
      }
    }
    });
</script>

<h2 class="card-title">Cantidad de tareas atrasadas por estado</h2>
<div class="charts">
  <canvas id="chart2"></canvas>
</div>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<script>
      const chart2 = document.getElementById("chart2");

      new Chart(chart2, {
          type: "bar",
          data: {
              labels: {{ card_list_names| safe}},
          datasets: [
          {
              label: "# of Cards",
              data: {{ overdue_cards_amount| safe}},
          borderWidth: 3,
          },
      ],
      },
      options: {
      scales: {
        y: {
          beginAtZero: true
        }
      }
    }
    });
</script>

<h2 class="card-title">Tareas asignadas por usuario</h2>
<div class="charts">
  <canvas id="chart3"></canvas>
</div>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<script>
      const chart3 = document.getElementById("chart3");

      new Chart(chart3, {
          type: "pie",
          data: {
              labels: {{ members | safe}},
          datasets: [
          {
              label: "# of Cards",
              data: {{ member_amounts | safe}},
          borderWidth: 1,
          },
      ],
      },
      options: {
      scales: {
        y: {
          beginAtZero: true
        }
      }
    }
    });
</script>
{% endblock %}
