{% extends 'base.html' %}

{% block content %}
    <form method="POST" class="mt-2">
        {% csrf_token %}

        <div class="mb-3">
            <label for="list_name" class="form-label">List Name:</label>
            <input type="text" name="name" class="form-control short-input" id="list_name" value="{{cardlist.name}}" required>
        </div>
        <div class="mb-3">
            <label for="max_cards" class="form-label">Max Cards:</label>
            <input type="number" name="max_cards" class="form-control short-input" id="max_cards" value="{{cardlist.max_cards}}">
            <small class="form-text text-muted">Please enter a non-negative integer.</small>
        </div>
        <button type="submit" class="btn btn-primary btn">Update List</button>
    </form>
    <a href="{% url 'delete_cardlist' owner_id=owner_id workspace_id=workspace_id board_id=board.id cardlist_id=cardlist.id %}" class="btn btn-danger">
        Delete List
    <a>
{% endblock %}
