{% extends 'base.html' %}
{% load widget_tweaks %}

{% block content %}
    <h1>{{ board.name }}</h1>

    <form action="" method="GET" class="mb-4">
        <div class="form-group">
            <label for="assigned_user">Filter by Assigned User:</label>
            <select name="assigned_user" id="assigned_user" class="form-control">
                <option value="">All Users</option>
                {% for member in board.workspace.members.all %}
                    <option value="{{ member.id }}" {% if request.GET.assigned_user == member.id|stringformat:"s" %}selected{% endif %}>
                        {{ member.username }}
                    </option>
                {% endfor %}
            </select>
        </div>
        <button type="submit" class="btn btn-primary">Apply Filter</button>
    </form>

    <form action="{% url 'update_board' owner_id=board.workspace.owner.id workspace_id=board.workspace.id board_id=board.id %}" method="GET" style="display:inline;">
        <button type="submit" class="btn btn-primary">Update board</button>
    </form>

    <a href="{% url 'delete_board' owner_id=board.workspace.owner.id workspace_id=board.workspace.id board_id=board.id %}" class="btn btn-danger">
        Delete board
    </a>
    
    <a href="{% url 'create_cardlist' owner_id=board.workspace.owner.id workspace_id=board.workspace.id board_id=board.id %}" class="btn btn-success" onclick="toggleAddListForm(event)">
        Add List
    </a>

    <div id="add-list-form-container" style="display:none;">                                
        <form action="{% url 'create_cardlist' owner_id=board.workspace.owner.id workspace_id=board.workspace.id board_id=board.id %}" method="POST" class="mt-2">
            {% csrf_token %}
            <div class="mb-3">
                <label for="list_name" class="form-label">List Name:</label>
                <input type="text" name="name" class="form-control" id="list_name" required>
            </div>
            <div class="mb-3">
                <label for="max_cards" class="form-label">Max Cards:</label>
                <input type="number" name="max_cards" class="form-control" id="max_cards" value="5">
                <small class="form-text text-muted">Please enter a non-negative integer.</small>
            </div>
            <button type="submit" class="btn btn-primary btn-sm">Create List</button>
        </form>
    </div>

    {{error}}

    <div class="row">
        <div class="row">
            {% for card_list in card_lists %}
                <div class="col-md-2 mb-4">
                    <div class="card">
                        <div class="card-body {% if card_list.amount_cards >= card_list.max_cards %}bg-warning{% endif %}">    
                            
                            <h2 class="card-title text-center">
                                {{ card_list.name }}
                            </h2>
                            {% if card_list.amount_cards >= card_list.max_cards %}
                            <p class="card-title text-center">
                                Warning! Max amount of cards reached
                            </p>
                            {% endif %}
                  
                            {% for card in card_list.cards.all %}
                                {% if request.GET.assigned_user %}
                                    {% if card.assigned_to.id|stringformat:"s" == request.GET.assigned_user %}
                                        <a href="{% url 'update_card' owner_id=owner_id workspace_id=workspace_id board_id=board.id card_id=card.id %}" class="text-decoration-none" style="color: inherit;">
                                            <div class="mb-2 p-2 border rounded bg-light">
                                                {% if card.due_date > get_time %}
                                                    <div>
                                                {% else %}
                                                    <div style="color: red;">
                                                        <strong>¡¡¡Tarea atrasada!!!</strong>
                                                        <br>
                                                        <br>
                                                {% endif %}
                                                    
                                                        <strong>{{ card.name }}</strong>
                                                        <p>{{ card.description }}</p>
                                                        <p>
                                                            {% if card.assigned_to %}
                                                                Assigned to: {{ card.assigned_to.username }}
                                                            {% else %}
                                                                Assigned to: None
                                                            {% endif %}
                                                        </p>
                                                        {% for item in card.checklist_items.all %}
                                                            <div>
                                                                <input type="checkbox" {% if item.is_completed %}checked{% endif %}>
                                                                {{ item.description }}
                                                            </div>
                                                        {% endfor %}
                                                        <p>
                                                            {% if card.due_date %}
                                                                Due date: {{ card.due_date }}
                                                            {% else %}
                                                                Due date: Unassigned
                                                            {% endif %}
                                                        </p>
                                                    </div>
                                            </div>
                                        </a>
                                    {% endif %}
                                {% else %}
                                    <a href="{% url 'update_card' owner_id=owner_id workspace_id=workspace_id board_id=board.id card_id=card.id %}" class="text-decoration-none" style="color: inherit;">
                                        <div class="mb-2 p-2 border rounded bg-light">
                                            {% if card.due_date > get_time %}
                                                <div>
                                            {% else %}
                                                <div style="color: red;">
                                                    <strong>¡¡¡Tarea atrasada!!!</strong>
                                                    <br>
                                                    <br>
                                            {% endif %}
                                                
                                                    <strong>{{ card.name }}</strong>
                                                    <p>{{ card.description }}</p>
                                                    <p>
                                                        {% if card.assigned_to %}
                                                            Assigned to: {{ card.assigned_to.username }}
                                                        {% else %}
                                                            Assigned to: None
                                                        {% endif %}
                                                    </p>
                                                    {% for item in card.checklist_items.all %}
                                                        <div>
                                                            <input type="checkbox" {% if item.is_completed %}checked{% endif %}>
                                                            {{ item.description }}
                                                        </div>
                                                    {% endfor %}
                                                    <p>
                                                        {% if card.due_date %}
                                                            Due date: {{ card.due_date }}
                                                        {% else %}
                                                            Due date: Unassigned
                                                        {% endif %}
                                                    </p>
                                                </div>
                                        </div>
                                    </a>
                                {% endif %}
                            {% empty %}
                                <p class="text-muted">No cards in this list.</p>
                            {% endfor %}

                            <button type="button" id="toggle-button-{{ card_list.id }}" class="btn btn-secondary btn-sm" onclick="toggleForm('{{ card_list.id }}')">
                                Add Card
                            </button>

                            <div id="form-container-{{ card_list.id }}" style="display:none;">                                
                                <form action="" method="POST" class="mt-2">
                                    {% csrf_token %}
                                    <div class="mb-3">
                                        <label for="name" class="form-label">Name:</label>
                                        {{ form.name|add_class:"form-control" }}
                                    </div>
                                    <div class="mb-3">
                                        <label for="description" class="form-label">Description:</label>
                                        {{ form.description|add_class:"form-control" }}
                                    </div>
                                    <div class="mb-3">
                                        <label for="due_date-{{ card_list.id }}" class="form-label">Due Date:</label>
                                        <input type="datetime-local" name="due_date" class="form-control" id="due_date-{{ card_list.id }}" value="{{ form.due_date.value|default_if_none:'' }}">
                                    </div>
                                    <div class="mb-3">
                                        <label for="assigned_to" class="form-label">Assigned to:</label>
                                        {{ form.assigned_to|add_class:"form-control" }}
                                    </div>
                                    <input type="hidden" name="card_list_id" value="{{ card_list.id }}">
                                    <button type="submit" class="btn btn-primary btn-sm">Create</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>


    <script>
        function toggleForm(cardListId) {
            var formContainer = document.getElementById('form-container-' + cardListId);
            var toggleButton = document.getElementById('toggle-button-' + cardListId);
    
            if (formContainer.style.display === 'none') {
                formContainer.style.display = 'block';
                toggleButton.textContent = 'Cancel';
            } else {
                formContainer.style.display = 'none';
                toggleButton.textContent = 'Add Card';
            }
        }
        function toggleAddListForm(event) {
            event.preventDefault(); // Prevent default anchor click behavior
            var formContainer = document.getElementById('add-list-form-container');

            if (formContainer.style.display === 'none') {
                formContainer.style.display = 'block';
            } else {
                formContainer.style.display = 'none';
            }
        }
    </script>
{% endblock %}

