{% extends 'base.html' %}

{% block content %}
<h1>Workspaces</h1>
<ul>
    {% for workspace in workspaces %}
    <li>
        <a href="{% url 'workspaces'%}">
            <strong>{{ workspace.name }}</strong>
            <p>Owner: {{ workspace.owner.username }}</p>
            <p>Members:
                {% for member in workspace.members.all %}
                    {{ member.username }}{% if not forloop.last %}, {% endif %}
                {% endfor %}
            </p>
        </a>
    </li>
    {% endfor %}
</ul>
{% endblock %}