body, html{
    background-color: hsl(216, 26%, 43%);
    height: 100%;
    margin:auto;
    color:aliceblue;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h1, h2 {
    margin: 0;
    padding: 0;
    margin-bottom: 1em;
    font-family: monospace;
}

h1{
    font-size: 2.5em;
}

h2{
    font-size: 2em;
}

label, button{
    font-size:1.2em;
    font-family: monospace;
}

button{
    background-color: hsl(143, 46%, 77%);
}

button:hover{
    background-color: hsl(143, 22%, 62%);
}

button:active{
    background-color: hsl(72, 43%, 67%);
}



.card-description{
    color: hsl(215, 51%, 70%);
    font-family: Outfit, sans-serif;
    font-size: 18px;
}

.card-title{
    color: hsl(0,0%,100%);
    font-family: Outfit, sans-serif;
    font-size: 24px;
}

.image-equilibrium{
    border-radius: 8px;
    width: 100%;
}
.image-avatar{
    width: 15%;
    border-radius: 50%;
    border: hsl(0,0%,100%) solid 1px;
}

